header#banner {
    height: 475px;
}

section#products h1, #subtitle {
    text-align: center;
}

/* MODAL */

section#modal {
    padding: 10px;
}

section#modal #modal-container {
    flex: auto;
    max-width: 800px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    overflow-y: auto;
    border-radius: 10px;
    border: 2px solid var(--highlight-color);
}

section#modal #modal-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}