header#banner {
    height: 475px;
}

section#products h1, #subtitle {
    text-align: center;
}

/* MODAL */

section#modal #modal-container {
    max-width: 800px;
    width: 90%;
    max-height: 500px;
    height: 90%;
    overflow-y: auto;
    scrollbar-width: none;
    border-radius: 10px;
    border: 2px solid var(--highlight-color);
}

section#modal #modal-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

section#modal #modal-content figure {
    flex: 1;
}

.modal-info {
    flex: 1;
}